.about-home {
  padding: 80px 40px;
  background-color: #ffffff;
}

.about-container {
  max-width: 1100px;
  margin: auto;
}

.about-text {
  max-width: 700px;
}

.about-home h2 {
  font-size: 34px;
  margin-bottom: 20px;
  color: var(--blue);
}

.about-main {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.about-home p {
  line-height: 1.7;
  margin-bottom: 18px;
  color: #444;
}

.about-points {
  list-style: none;
  padding: 0;
  margin: 25px 0;
}

.about-points li {
  margin-bottom: 10px;
  font-size: 15px;
}

/* Button */
.about-btn {
  display: inline-block;
  background-color: var(--green);
  color: white;
  padding: 12px 26px;
  border-radius: 4px;
  font-weight: 500;
  transition: background 0.3s;
}

.about-btn:hover {
  background-color: #178f42;
}

/* Mobile */
@media (max-width: 768px) {
  .about-home {
    padding: 60px 20px;
    text-align: center;
  }

  .about-text {
    margin: auto;
  }
}


@media (max-width: 768px) {

  .about-container {
    padding: 30px 20px;
  }

  .about-home {
    text-align: center;
  }

}